*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

/* BACKGROUND */
body{
  min-height:100vh;
  color:white;

  background: url("minecraft-bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

/* DARK OVERLAY */
body::before{
  content:"";
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.6);
  z-index:-1;
}

/* HEADER */
header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 8%;
  background:rgba(0,0,0,0.3);
  backdrop-filter:blur(10px);
  position:fixed;
  width:100%;
  top:0;
  z-index:100;
}

.logo{
  font-size:26px;
  font-weight:bold;
  color:#a855f7;
  text-shadow:0 0 10px #a855f7;
}

nav a{
  color:white;
  text-decoration:none;
  margin-left:20px;
  transition:0.3s;
}

nav a:hover{
  color:#a855f7;
}

/* HERO LAYOUT */
.hero{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:120px 8%;
  flex-wrap:wrap;
}

/* CENTER */
.center{
  text-align:center;
  max-width:450px;
  margin:auto;
}

.center h1{
  font-size:42px;
  text-shadow:0 0 15px black;
}

.center p{
  margin-top:15px;
  color:#ddd;
}

.tag{
  margin-top:15px;
  color:#a855f7;
}

/* BUTTONS */
.buttons{
  margin-top:20px;
}

.btn, .btn2{
  display:inline-block;
  padding:12px 20px;
  border-radius:8px;
  margin:5px;
  text-decoration:none;
  transition:0.3s;
}

.btn{
  background:#a855f7;
  color:white;
}

.btn:hover{
  box-shadow:0 0 20px #a855f7;
  transform:scale(1.05);
}

.btn2{
  border:1px solid white;
  color:white;
}

.btn2:hover{
  box-shadow:0 0 10px white;
  transform:scale(1.05);
}

/* SIDE BOXES */
.side{
  width:250px;
  background:rgba(0,0,0,0.4);
  padding:15px;
  border-radius:10px;
  backdrop-filter:blur(8px);
}

.side h3{
  color:#a855f7;
  margin-top:10px;
}

.side p{
  font-size:14px;
  color:#ddd;
}

.left{
  text-align:left;
}

.right{
  text-align:right;
}