*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#0b0b12;
  color:white;
}

header{
  display:flex;
  justify-content:space-between;
  padding:15px 8%;
  background:rgba(0,0,0,0.6);
  position:fixed;
  width:100%;
  top:0;
}

.logo{
  color:#a855f7;
  font-weight:bold;
}

nav a{
  color:white;
  margin-left:15px;
  text-decoration:none;
}

nav a:hover{
  color:#a855f7;
}

.home{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.home-box{
  background:rgba(0,0,0,0.6);
  padding:30px;
  border-radius:15px;
}

.section{
  padding:100px 8%;
  margin-top:80px;
  text-align:center;
}

.card{
  display:inline-block;
  background:rgba(0,0,0,0.6);
  padding:15px;
  margin:10px;
  border-radius:12px;
}

.btn{
  display:inline-block;
  padding:10px 15px;
  background:#a855f7;
  color:white;
  border-radius:8px;
  text-decoration:none;
}