*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:url("minecraft-bg.jpg") no-repeat center center fixed;
  background-size:cover;
  color:white;
}

/* HEADER */
header{
  display:flex;
  justify-content:space-between;
  padding:15px 8%;
  position:fixed;
  width:100%;
  top:0;
  background:rgba(0,0,0,0.6);
  backdrop-filter:blur(10px);
}

.logo{
  color:#a855f7;
  font-weight:bold;
}

nav a{
  color:white;
  margin-left:12px;
  text-decoration:none;
}

nav a:hover{
  color:#a855f7;
}

/* HOME */
.home{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.home-box{
  background:rgba(0,0,0,0.6);
  padding:30px;
  border-radius:15px;
}

/* SECTION */
.section{
  padding:100px 8%;
  margin-top:80px;
  text-align:center;
}

/* CARD */
.card{
  display:inline-block;
  background:rgba(0,0,0,0.6);
  padding:15px;
  margin:10px;
  border-radius:12px;
  transition:0.3s;
}

.card:hover{
  transform:scale(1.05);
  box-shadow:0 0 15px #a855f7;
}

/* BUTTON */
.btn{
  display:inline-block;
  padding:10px 15px;
  margin:10px;
  background:#a855f7;
  color:white;
  border-radius:8px;
  text-decoration:none;
}

.btn2{
  display:inline-block;
  padding:10px 15px;
  margin:10px;
  border:1px solid white;
  color:white;
  border-radius:8px;
  text-decoration:none;
}